.header{
    height: 18rem;
    background-image: linear-gradient(to right,#3F1321 , #2D4D4B);
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

header > img{
    height: 100%;
    width: 4em;
    border-radius: 25px;
}