
.upper-container{
    height: 50rem;
    width: 100%;
    font-family: 'LeagueSpartan';
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.player-form-container{
    height: 20rem;
    width: 20rem;
    background-image: linear-gradient(to right,#C0D8D6 , #2D4D4B);
    border-radius: 2.5rem;
    border: 2px solid #3F1321;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

label{
    background-color: #C0D8D6;
    border: 2px solid #2D4D4B;
    border-radius: 25px;
    font-size: 15px;
    width: 10rem;
    text-align: center;
    color: #3F1321;
    font-family: 'LeagueSpartan';
    font-size: 1.8rem;
}

.player-inputs{
    background-color: #C0D8D6;
    border: 2px solid #2D4D4B;
    border-radius: 25px;
    font-size: 15px;
    width: 10rem;
    text-align: center;
    color: #2D4D4B;
    font-family: 'LeagueSpartan';
    font-size: 1.8rem;
}

.make-these-widths-auto{
    width: auto;
    background-color: #C0D8D6;
    border: 2px solid #2D4D4B;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    color: #2D4D4B;
    font-family: 'LeagueSpartan';
    font-size: 1.8rem;
}

.player-submit-button{
    background-color: #C0D8D6;
    border: 2px solid #2D4D4B;
    border-radius: 25px;
    font-size: 15px;
    width: 10rem;
    text-align: center;
    color: #3F1321;
    font-family: 'LeagueSpartan';
    font-size: 1.8rem;
}

.player-form-container .player-submit-button input:hover{
    /* background-image: linear-gradient(to right,#C0D8D6 , #DDA448); */
    color: red;
}