.report-container{

    height: auto;
    width: 25rem;
    background-image: linear-gradient(to right,#3f1321 , #2D4D4B);
    border-radius: 2.5rem;
    border: 2px solid #3F1321;
    align-items: center;
    text-align: center;
    padding: 25px;
}

p {
    
    color: #2D4D4B;
}
.report-row{
    color: #2D4D4B;
    height: auto;
    width: auto;
    border: 2px solid #3f1321;
    background-color: #C0D8D6;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    font-family: 'LeagueSpartan';
    font-size: 1.5rem;
}