.report-container{

    height: 30rem;
    width: 20rem;
    background-color: #C5CBD3;
    border-radius: 2.5rem;
    border: 2px solid #3F1321;
    align-items: center;
    text-align: center;
}

p {
    
    color: #2D4D4B;
}